<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039793089927-1c6tpot1pj5jci4q67lbmro1uatqq4al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039793089927-1c6tpot1pj5jci4q67lbmro1uatqq4al</string>
	<key>API_KEY</key>
	<string>AIzaSyCabOlfPb9cco6ynkPQAIxN7KVxNWLkcM4</string>
	<key>GCM_SENDER_ID</key>
	<string>1039793089927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelslatterydev.SocialLite</string>
	<key>PROJECT_ID</key>
	<string>sociallite-87616</string>
	<key>STORAGE_BUCKET</key>
	<string>sociallite-87616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039793089927:ios:44d31b29c2f5aedf0af722</string>
	<key>DATABASE_URL</key>
	<string>https://sociallite-87616-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>